* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* start header */
header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 11;
}

header .navbar-light .navbar-nav .nav-link {
  color: white;
  transition: 0.3s;

  position: relative;
}

header .navbar-light .navbar-nav .nav-link::before {
  display: block;
  content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  left: 0;
  bottom: -5px;
  background: #35a22c;
  transition: 0.3s;
}

header .navbar-light .navbar-nav .nav-link:hover::before {
  width: 100%;
}

header .navbar-light .navbar-nav .nav-link:hover {
  color: #35a22c;
}

header .navbar-light .navbar-nav .active > .nav-link {
  color: #35a22c;
}

header .navbar-light .navbar-nav .active > .nav-link::before {
  color: #35a22c;
  width: 100%;
}
header nav span {
  font-size: 36px;
}
header nav a:hover {
  text-decoration: none;
}
nav i {
  color: #35a22c;
  font-size: 45px;
}
/* end header */

/* start carousel */

.carousel__bg {
  height: 100vh;

  object-fit: cover;
}
#carousel .carousel-caption img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  animation-duration: 1s;
}

#carousel .carousel-caption {
  bottom: 31%;
}

#carousel .carousel-item::before {
  display: block;
  content: "";

  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(39,43,54,.5);
  top: 0;
  left: 0;
}
.carousel-indicators li {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.carousel-indicators li.active {
  background-color: #35a22c;
}

.carousel ol {
  margin-bottom: 80px;
}
.carousel-caption h5 {
  font-weight: 400;
}
.carousel-caption p {
  font-size: 26px;
}
/* end carousel */
/* start product */
#products {
  padding-top: 100px;
}
#products .products__title {
  margin: auto;
  text-align: center;
  max-width: 760px;
}
#products .products__title p {
  color: #6c6c6c;
}

#products .item__content {
  border-radius: 16px;

  overflow: hidden;

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  height: 450px;
  text-align: center;

  cursor: pointer;
}
#products .item__content img {
  height: 350px;
  object-fit: cover;
}

#products .item__content .title {
  /* padding: 25px; */

  padding: 15px;
  height: 100px;

  transition: 0.3s;

  border: 1px solid white;
  border-radius: 16px;

  border-top-left-radius: 0px;

  border-top-right-radius: 0px;
}
#products .products__content li a{
  color: black;
}
#products .nav-link.active{
  color: white;
}

#products .item__content:hover .title {
  border-color: #35a22c;
  border-top-color: white;
}
#products .item__content:hover h5{
  color: #35a22c;
}

#products .nav-item {
  margin-left: 10px;
  border-radius: 5px;
}
#products .nav-link {
  border: 1px solid black;
}
#products .nav-link.active {
  border-color: #35a22c;
}
#products .nav-pills .nav-link.active {
  background-color: #35a22c;
}
#products .item__content h5 {
  font-weight: 400;
}
/* end product */
/* start feature  */
.features{
  margin: 80px 0 0 0;
  padding: 100px 0;
  position: relative;
  background-image: url(./image/3.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.features .features_overlay{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(7,10,12,.72);
  background-size: cover;
}
.features .feature_title{
  margin: auto;
  width: 760px;
  line-height: 1.6;
  margin-bottom: 50px;
  color: white;
  position: relative;
}
.features .feature_item{
  line-height: 1.6;
  font-size: 18px;
  border-radius: 10px;
  position: relative;
  color: white;
  background: rgba(255, 255, 255,0.1);;
  backdrop-filter: blur(3px);
  border: 1px solid transparent;
  transition: 0.5s;
}
.features .feature_item:hover{
  border: 1px solid white;
  background: black;
}
.feature_item i{
  font-size: 48px;
  color: #35a22c;
}
.features .feature_item p:first-of-type{
  font-size: 24px;
}
.features .row{
  flex-wrap: nowrap;
}
/* end feature  */
/* start award  */
.award{
  background-image: url(./image/memphis_3.png);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: bottom left;
  padding: 75px 0;
  /* opacity: 0.5; */
}
.award .left__award{
  width: 40%;
  border-radius: 10px;
  padding: 0 40px;
  line-height: 1.6 ;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: rgb(255, 255, 255,0.25);
  backdrop-filter: blur(3px);
}
.award .left__award h3{
  font-size: 36px;
}
.award .left__award p{
  color: #6c6c6c;
}
.award .right__award{
  width: 60%;
  color: #6c6c6c;
}
.right__award .icon_item{
  width: 100px;
}
/* end award  */
/* start footer  */
footer{
  background: rgb(0, 0, 0,0.85);
}
footer .footer__icon i{
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: rgba(255, 255, 255,0.8);
  border-radius: 50%;
  margin-left: 10px;
  border: 1px solid rgba(108, 108, 108,0.5);
  transition: 0.5s;
}
footer .footer__icon{
  border-bottom: 1px solid rgba(108, 108, 108,0.5);
}
footer a:hover i{
  color: #35a22c;
  border: 1px solid #35a22c;
}
footer .copyRight{
  color: rgba(255, 255, 255,0.8);
}
.copyRight a{
  color: rgba(255, 255, 255,0.8);
  transition: 00.5s;
}
.copyRight a:hover{
  color: #35a22c;
  text-decoration: none;
}

/* end footer  */
